
body 
{
	background-image:url('../img/greyBackground.png');
    font-family: 'Questrial', sans-serif;
}

h2 
{
	color:black;
	font:30px Lucida Sans Unicode;
	font-weight:bold;
	margin:auto;
}

.center
{
	margin:auto;
	width:70%;
	text-align: center;
}

.left
{
	margin:auto;
	width:70%;
	text-align: left;
}
.right
{
	margin:auto;
	width:70%;
	text-align: right;
}


/* loading spinner  */
#loader {
	background-image:url('../img/greyBackground.png');
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:white;
	opacity:0.3;
	z-index:2;
}
#spinner_container {
	position:absolute;
	width:100%;
	top: 50%;
	left:0px;
	height:1px;
	overflow:visible;
	opacity: 1;
	background: transparent;
}
#spinner {
	width: 31px;
	height:31px;
	margin-left:-15px;
	position:absolute;
	top:-15px;
	left:50%;
	display:block;
}

#pleaseWait {
	font:30px;
	font-weight:bold;
	position:absolute;
	width:100%;
	top: 35%;
	left:0px;
}
